[submodule "ThirdParty/SpdLog"]
	path = ThirdParty/SpdLog
	url = https://github.com/gabime/spdlog.git
[submodule "Typhoon/ThirdParty/GLFw"]
	path = Typhoon/ThirdParty/GLFw
	url = https://github.com/Stangui/glfw.git
[submodule "Typhoon/ThirdParty/imgui"]
	path = Typhoon/ThirdParty/imgui
	url = https://github.com/stangui/imgui
[submodule "Typhoon/ThirdParty/glm"]
	path = Typhoon/ThirdParty/glm
	url = https://github.com/g-truc/glm
